body {
 font-family: 'Roboto', sans-serif;
}

h1, h2 {
 font-family: 'Montserrat', sans-serif;
}



#landing {
 height: 80vh;
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
}

#gallery {
 height: 20vh;
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
 height: 75vh;
}

ul {
 list-style: none;
 padding: 0;
}

h2 {
 color: #007bff;
}

.tools {
 padding: 25px;
 height: 200px;
 border: 5px solid #f2f2f2;
 width: 75%;
 margin: 20px;
}

li {
 color: white;
}